{% extends '../AppGeneral/inicio.html' %}
{% load static %}
<div>
    {% block contenidoQueCambia %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-lg-4" style="padding-left: 400px;">
        <form method="POST"> {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-primary" value="Enviar">
        </form>
    </div>
    <div class="container text-center">
        <br>
        <br>
        <h1>Ultimos mensajes</h1>
        <div class="row">
            {% for mensaje in todos %}
            <div class="align-items-center">
                <div class="profile"><h5>{{ mensaje.usuario.username }}:&nbsp </h5><p>{{ mensaje.contenido }} - {{ mensaje.fecha }}</p></div>
                <br>
            </div>
            {% endfor %}
    </div>
</div!>
    </div>
    
    <br>
        
    
    {% endblock %}