<div>
    {% extends 'AppGeneral/inicio.html' %}
    {% load static %}
    
    {% block contenidoQueCambia %}
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <div style="padding: 50px">
            <h3>Avatar</h3>
            <h6>{{user.username}}</h6>
    
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" class="btn btn-primary" value="Aceptar">
            </form>
        </div>
    {% endblock %}
    </div>