{% extends 'AppGeneral/inicio.html' %}
{% load static %}
<div>
    {% block contenidoQueCambia %}
    <a href="{% url 'Publicar' %}"><button></button></a>
    <div class="container text-center">
        <h1>Blogs publicados</h1>
    </div>
    
    <br>
    
    <!--div class="container text-center">
        <div class="row">
                {% for element in blogs %}
                <div class="col-sm-6 align-items-center">
                    <div class="card-body">
                    <img src="{{blog.imagen.url}}" class="" width="100px">
                    {{blog.titulo}}
                    <a href="{% url 'bajo' bajo.id %}"><i class="bi bi-eye"></i></a>
                    {% if user.id == blog.autor.id %}
                    <a href="{% url 'blog_editar' bajo.id %}"><i class="bi bi-pencil-fill"></i></a>
                    <a href="{% url 'blog_eliminar' bajo.id %}"><i class="bi bi-trash text-danger"></i></a>
                    <br>
                    <br>
                    <br>
                    <br>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
        </div>
    </div!-->
    
    {% endblock %}